.index-99 {
  z-index: 99;
}

.w-100 {
  width: 100%;
}
.link .dot {
  display: none;
  position: relative;
}
.dot--red {
  color: #4A2E00 !important;
}
@media (min-width: 1024px) {
  .dot--15 {
      height: .86806vw;
      width: .86806vw;
      margin-right: 5px;
  }
}
.dot:before {
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: .86806vw;
  height: .86806vw;
        
}
.nav-item__link.active .dot--filled:before {
  opacity: 1;
  animation: dot--filled 0.5s ease;
}
@keyframes dot--filled {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.nav-item__link.active .dot{
  display: block;

}
.nav-item__link.active  .text {
  color: #4A2E00 !important;
}
.jduihihf{
  padding: 25px 25px;
}
.nav__list {
  
  display: flex;
  flex-direction: row;
  position: relative;
  row-gap: 0.2rem;
  z-index: 1;
}
.nav__list .nav-item__link {
  padding: 0px 5px;
  display: flex;
}
ol,
ul {
  list-style-type: none;
}
.nav__list li {
  text-transform: uppercase !important;
  display: flex;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}
.nav-item__slash {
  color: #C47E0A;
  display: flex;
  padding: 0em 0.2em;
  font-size: 1.27315vw;
}
.slash-light i {
  font-style: normal;
  font-weight: 300;
}
.link .text {
  font-size: 1.27315vw;
  font-weight: 440;
  /* text-shadow: 0px 0px 4px rgba(0, 0, 0); */
  color: #C47E0A;
}
