
:root {
    --size-unit: 16;
    --size-container-ideal: 1440;
    --size-container-min: 992px;
    --size-container-max: 2560px;
    --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
    --size-font: calc(var(--size-container) /(var(--size-container-ideal) / var(--size-unit)));
    --cubic-default: cubic-bezier(0.525, 0, 0, 1);
    --duration-default: 0.525s;
    --animation-default: var(--duration-default) var(--cubic-default);
}

:root {
    --color--light: #f7f7f7;
    --color--blue-900: #000f1d;
    --color--orange-200: #f2eee4;
    --color--pink-400: #e9ccff;
    --gap-xxs: .5em;
    --page-padding: 1.25em;
    --size-nav: 4.75em;
    --color--blue-500: deepskyblue;
    --color--blue-700: #4da2ff;
    --gap-xl: 2em;
    --gap-l: 1.5em;
    --spacer-title: 7.75em;
    --color--gray-200: #dfdfdf;
    --color--pink-200: #dbcdeb;
    --color--gray-800: #31404e;
    --color--purple-700: #5c4ade;
    --color--blue-400: #6de6f8;
    --color--green-200: #55db9c;
    --color--orange-700: #ff7a00;
    --color--dark: black;
    --color--pink-700: #ff6ada;
    --color--green-700: #3e512f;
    --color--green-400: #4df766;
    --color--yellow-900: #ffd731;
    --gap-xs: .75em;
    --color--yellow-700: #fffc4d;
    --color--green-300: #beff4d;
    --color--orange-400: #f79f4d;
    --gap-s: .875em;
    --size-block-large: 1.6875em;
    --gap-ml: 1.25em;
    --color--gray-400: #bbbec0;
    --color--gray-700: #61686d;
    --size-block-small: .875em;
    --gap-m: 1em;
    --gap-xxl: 3em;
}

@font-face {
    font-family: 'TWK Everett';
    src: url('https://cdn.prod.website-files.com/67acdc4f394bcf4f3e3669b6/67acdc4f394bcf4f3e3669c0_TWKEverett-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Everett';
    src: url('https://cdn.prod.website-files.com/67acdc4f394bcf4f3e3669b6/67acdc4f394bcf4f3e3669c1_TWKEverett-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Everett Mono';
    src:
        url('https://cdn.prod.website-files.com/67acdc4f394bcf4f3e3669b6/67acdc4f394bcf4f3e3669c2_TWKEverettMono-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* .svg-animate path{
fill: none;
stroke: #fff;
stroke-dasharray: 966.631px;
stroke-dashoffset: 766.792px;
animation: hello_animation linear 10s infinite;
opacity: .5
}

@keyframes hello_animation {
to {
stroke-dashoffset: 0;
}

form {
stroke-dashoffset: 766.792;
}
} */
.nav-inner {
    height: 1.50em;
    display: flex;
}

.nav-inner__left {
    padding-left: .5em;
    border-top: 2px solid var(--color--blue-900);
    border-bottom: 2px solid var(--color--blue-900);
    background-color: var(--color--light);
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    transition: color .2s, border-color .2s, background-color .2s;
    display: flex;
    width: calc(100em - 23.5em);
}

.nav-inner__logo {
    width: 3em;
    color: #000 !important;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.nav-inner__left,
.navs {
    transition: transform var(--animation-default);
}

.svg {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: visible !important;
}

.nav-inner__right {
    grid-column-gap: .2em;
    grid-row-gap: .2em;
    background-color: var(--color--blue-900);
    color: var(--color--light);
    justify-content: center;
    align-items: center;
    width: 20%;
    transition: color .2s, background-color .2s;
    display: flex;
}

.code.eyebrow {
    color: var(--color--blue-500);
}

.eyebrow {
    font-family: TWK Everett Mono, Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
}

.u--fw-med {
    font-weight: 500;
}

.p-small {
    letter-spacing: .01em;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.25;
    font-family: TWK Everett, Arial, sans-serif !important;
}

.navs {

    z-index: 99;
    justify-content: space-between;
    align-items: stretch;
    height: 2em;
    display: flex;
    position: fixed;
    top: calc(100dvh - 4em);
    left: 0;
    right: 0;
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {

    .nav-link:nth-of-type(1):hover,
    .nav-link:nth-of-type(1).w--current {
        background: var(--color--blue-700);
    }
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {
    .nav-link:hover .p-medium {
        transform: translate(0px, -95%);
    }
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {
    .nav-link .p-medium {
        text-shadow: 0px 1em currentColor;
        transition: transform 0.45s cubic-bezier(0.15, 0.5, 0.05, 1);
    }
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {
    [data-arrow-button]:hover .button-icon__wrap.is--duplicate {
        transform: translate(0%, 0px);
    }
}

.nav-link.size--1 {
    width: 14%;
}

.nav-link.size--2 {
    width: 10%;
}

.nav-link.size--3 {
    width: 10%;
}

.nav-link.size--4 {
    width: 12%;
}

.nav-link {
    height: 8vh !important;
    border: 2px solid var(--color--blue-900);
    background-color: var(--color--light);
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: -2px;
    transition: background-color .3s;
    display: flex;
    color: #000 !important;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.nav-link__inner {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: TWK Everett, Arial, sans-serif !important;
}

.nav-link__text-wrap {
    justify-content: center;
    align-items: center;
    height: auto;
    padding-left: .25em;
    padding-right: .25em;
    display: flex;
    overflow: hidden;
}

@media (hover: hover) and (prefers-reduced-motion: no-preference) {
    .nav-link .p-medium {
        text-shadow: 0px 1em currentColor;
        transition: transform 0.45s cubic-bezier(0.15, 0.5, 0.05, 1);
    }
}

.p-medium.u--fw-med {
    letter-spacing: -.05em;
}

.u--fw-med {
    font-weight: 500;
}

.p-medium {
    letter-spacing: -.02em;
    font-size: 14px;
    line-height: 1.2;
}

.nav-cta {
    z-index: 2;
    border-bottom: 2px solid var(--color--blue-900);
    background-color: var(--color--blue-900);
    color: var(--color--light);
    flex: 1;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: -2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.button-icon__wrap.is--nav.is--duplicate {
    border-left-style: solid;
    flex: none;
}

.button-icon__wrap.is--duplicate {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0;
    transform: translate(-100%);
}

.button-icon__wrap.is--nav {
    border-left-style: none;
}

.button-icon__wrap {
    aspect-ratio: 1;
    border-left: 2px solid var(--color--blue-900);
    background-color: var(--color--blue-700);
    color: var(--color--blue-900);
    justify-content: center;
    align-items: center;
    transition: transform .525s cubic-bezier(.525, 0, 0, 1);
    display: flex;
    position: relative;
    overflow: hidden;
}

.button-icon {
    justify-content: center;
    align-items: center;
    width: 1.375em;
    transition: transform .525s cubic-bezier(.525, 0, 0, 1);
    display: flex;
    transform: rotate(-45deg);
}

.button-text__wrap {
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: transform .525s cubic-bezier(.525, 0, 0, 1);
    display: flex;
}

.text-wrap__innner {
    justify-content: center;
    align-items: center;
    padding-bottom: .15em;
    padding-left: .25em;
    padding-right: .25em;
    display: flex;
    overflow: clip;
}

.button-icon__wrap.is--nav.is--main {
    flex: none;
}

.button-icon__wrap.is--nav {
    border-left-style: none;
}

.button-icon__wrap {
    aspect-ratio: 1;
    border-left: 2px solid var(--color--blue-900);
    background-color: var(--color--blue-700);
    color: var(--color--blue-900);
    justify-content: center;
    align-items: center;
    transition: transform .525s cubic-bezier(.525, 0, 0, 1);
    display: flex;
    position: relative;
    overflow: hidden;
}

.button-icon {
    justify-content: center;
    align-items: center;
    width: 1.375em;
    transition: transform .525s cubic-bezier(.525, 0, 0, 1);
    display: flex;
    transform: rotate(-45deg);
}

.right-video-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-stacks {
    position: relative;
    width: 100%;
    bottom: 1vh;
    left: -100px;
}

.video-stacks video {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.tops {
    transform: translate(-100px, -100px);
    z-index: 3;
}

.middles {
    transform: translate(-50px, -50px);
    z-index: 2;
}

.bottoms {
    transform: translate(0, 0);
    z-index: 1;
}

@keyframes wipeOuts {
    from {
        transform: translate(-100px, -100px);
        opacity: 1;
    }

    to {
        transform: translate(-150px, -150px);
        opacity: 0;
    }
}

.wipe-outs {
    animation: wipeOuts 0.6s forwards;
}

@keyframes wipeIns {
    from {
        transform: translate(0px, 0px);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.wipe-ins {
    animation: wipeIns 0.6s forwards;
}

/* ---------- Layered Cards Section ---------- */
.card-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 25vh;
    transform-origin: top left;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    background: transparent;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column {
    display: flex;
    align-content: center;
    flex-direction: column-reverse;

}

.card-front .color-box {
    /* background: #ffffff; */
    background: radial-gradient(circle at center, rgba(255, 255, 255, 1) 0%, rgba(235, 205, 141, 1) 50%);
    /* background: -webkit-linear-gradient(135deg, rgb(255, 255, 255) 30%, rgb(235, 205, 141) 100%);
    background: -moz-linear-gradient(135deg, rgb(255, 255, 255) 30%, rgb(235, 205, 141) 100%);
    background: linear-gradient(135deg, rgb(255, 255, 255) 30%, rgb(235, 205, 141) 100%); */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ebcd8d", GradientType=2 ); */
    background-size: 200% 200%;
    animation: moveWhite 4s infinite;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.card-front .color-box .new-div{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-front .bg-video{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: .2;
}
.meet_new_color{
    font-family:"Urbanist", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 120px;
    font-weight: 600;
    letter-spacing: 1px;
    color:#000;
}
.meet_new_color video{
    width: 15vw;
    border-radius: 30px;
}
.gradient-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.card-front .bg-images {
    z-index: 8;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    background-image: url(/svg/1111.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start;
    align-items: flex-end;
    width: 14.37vw;
    position: absolute;
    inset: auto auto -12.96px -12.96px;
    height: 24.2vh;
    padding-bottom: 25px;
    padding-left: 35px;
    display: flex;
    bottom: 11px;
    left: 3px;
}
.social-link-icons.ln {
    grid-column-gap: 12.8px;
    grid-row-gap: 12.8px;
}
.social-link-icons {
    grid-column-gap: 10.08px;
    grid-row-gap: 10.08px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.social-link-icon.ln {
    width: 100%;
    height: 100%;
}
.social-link-wrap {
    grid-column-gap: .63em;
    grid-row-gap: .63em;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 22.4px;
    height: 22.4px;
    overflow: hidden;
}
canvas {
    width: 100% !important;
    height: 100% !important;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 25vh;
    /* Only space at the bottom; no extra top spacing */
    transform-origin: top left;
}


.card-container:nth-child(1) {
    z-index: 1;
}

.card-container:nth-child(2) {
    z-index: 2;
}

.card-container:nth-child(3) {
    z-index: 3;
}

.card-container:nth-child(4) {
    z-index: 4;
}

.card-container:nth-child(5) {
    z-index: 5;
}

.cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
}

.card-back {
    z-index: 1;
    background: #f7f8f783;
    transform: rotate(-2deg);
    outline: dashed;
    outline-offset: -14px;
}

/* The middle layer with a lighter tilt */
.card-middle {
    z-index: 2;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 1) 0%, rgba(235, 205, 141, 0.5) 50%);
    transform: rotate(-1deg);
    outline: dashed;
    outline-offset: -14px;
    animation: moveWhite 4s infinite;
}

@keyframes moveWhite {
    0%   { background-position: 30% 30%; }
    20%  { background-position: 80% 40%; }
    40%  { background-position: 70% 80%; }
    60%  { background-position: 20% 70%; }
    80%  { background-position: 10% 20%; }
    100% { background-position: 30% 30%; }
  }
.card-front {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #000;
    will-change: transform;
    background: rgba(255, 255, 255, 1);
}

.cardss {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #fff;
    will-change: transform;
}

.card-visualizer .card-front {
    background-color: #262626 !important;
}

.left-sections {
    font-family: "Urbanist", sans-serif;
    padding: 20px 38px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.right-sections {
    font-family: "Urbanist", sans-serif;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    position: relative;
    gap: 20px;
}

.rectangle {

    height: 500px;
    background-color: #e2dbc9;
    margin: 0 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    color: black;
    font-size: 18px;
    flex-shrink: 0;
    border-radius: 30px;
}

.controls {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    gap: 10px;
}

.controls button {
    color: #000;
    cursor: pointer;
    background-color: #e2dbc9;
    border-radius: .63em;
    padding: 5px 25px;
    transition: all .4s;
    font-size: 14px;
    font-weight: 400;
    border: none;

}

.controls button .fa-arrow-left {
    position: relative;
    transition: all 0.4s ease-in;
    left: 0px;
}

.controls button .fa-arrow-right {
    position: relative;
    transition: all 0.4s ease-in;
    right: 5px;
}

.controls button:hover {
    background-color: #c9c2b2;
}

.controls button:hover .fa-arrow-left {
    position: relative;
    left: -5px;
}

.controls button:hover .fa-arrow-right {
    position: relative;
    right: 0px;
}

/* Marquee Section */
.marquee-section {
    margin: 0px auto;
    padding: 0px 0;
}

.marquee {
    display: flex;
    animation: marquee 20s linear infinite;
}

.circle {
    width: 360.96px;
    /* 10vh radius = 20vh diameter */
    height: 360.96px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 15px;
    flex-shrink: 0;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


.containerss {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background: rgb(7, 7, 7);
    cursor: pointer;
    transition: box-shadow 0.4s ease;
}

.containerss.on {
    box-shadow:
        -2px -2px 4px 4px rgba(7, 7, 7, 0.5),
        -8px 0 4px 4px rgba(7, 7, 7, 0.5),
        -8px 0 3px 1px rgba(0, 255, 0, 0.2),
        4px 0 4px 4px rgba(7, 7, 7, 1),
        -3px 5px 3px 0 rgb(79 81 79),
        8px 3px 2px 0 rgb(79 81 79),
        inset 0 0 3px 1px rgba(0, 255, 0, 0.5),
        inset 0 0 24px 0 rgba(0, 255, 0, 0.5);
}

.containerss.off {
    box-shadow:
        -2px -2px 4px 4px rgba(7, 7, 7, 0.5),
        -8px 0 4px 4px rgba(7, 7, 7, 0.5),
        8px 0 3px 1px rgba(255, 0, 0, 0.2),
        4px 0 4px 4px rgba(7, 7, 7, 1),
        -3px 5px 3px 0 rgb(79 81 79),
        8px 3px 2px 0 rgb(79 81 79),
        inset 0 0 3px 1px rgba(255, 0, 0, 0.5),
        inset 0 0 14px 0 rgba(255, 0, 0, 0.5);
}

.toggle {
    width: 60%;
    height: 100%;
    background: linear-gradient(35deg, rgb(16 15 16) 0%, rgb(32 31 32) 100%);
    border-radius: 100px;
    position: absolute;
    transition: all 0.4s ease-in;
}

.on .toggle {
    right: 0;
    box-shadow:
        0px 8px 8px 0 rgba(0, 0, 0, 0.4),
        inset 0px -3px 3px 0 rgba(0, 0, 0, 1),
        inset 0 3px 2px 0 rgba(79, 81, 79, 0.5),
        inset -2px 0px 3px 0 rgba(0, 0, 0, 1),
        /* rgba(255, 0, 0, 0.5) accent - dark when on */
        inset 2px 0px 3px 0 rgba(0, 255, 0, 0.5),
        /* rgba(0, 255, 0, 0.1) accent - dark when off */
        inset 0 0 0 0 rgba(0, 0, 0, 0);
}

.off .toggle {
    right: 40%;
    box-shadow:
        0px 8px 8px 0 rgba(0, 0, 0, 0.4),
        inset 0px -3px 3px 0 rgba(0, 0, 0, 1),
        inset 0 3px 2px 0 rgba(79, 81, 79, 0.5),
        inset -2px 0px 3px 0 rgba(255, 0, 0, 0.5),
        /* rgba(255, 0, 0, 0.5) accent - dark when on */
        inset 2px 0px 3px 0 rgba(0, 0, 0, 1),
        /* rgba(0, 255, 0, 0.1) accent - dark when off */
        inset 0 0 0 0 rgba(0, 0, 0, 0);
}

.detail {
    height: 30%;
    width: 4px;
    border-radius: 10px;
    box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 1),
        inset 1px -1px 2px 0 rgba(0, 0, 0, 1),
        inset -1px -1px 2px 0 rgba(0, 0, 0, 1),
        inset 0px -2px 2px 0 rgba(0, 0, 0, 1),
        inset 0px 2px 2px 0 rgb(79 81 79),
        inset 1px -1px 4px 0 rgb(79 81 79);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.detail:nth-child(1) {
    left: 10%;
}

.detail:nth-child(2) {
    right: 10%;
}

.text-d3d3d3 {
    color: #d3d3d3;
    transition: color 0.3s ease;
}

.text-ffd60a {
    color: #ffd60a;
}

.dot.highlight {
    background-color: #EBCD8D !important;
    /* Highlight color for toggle effect */
}

.text-element.highlight {
    color: #fff;
    opacity: 0.1;
    font-family: "BDO Grotesk", Verdana, sans-serif;
    font-weight: 500;
    line-height: 90%;
    /* Highlight color for toggle effect */
}

@font-face {
    font-family: 'BDO Grotesk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BDO Grotesk Regular'), url('/fonts/BDOGrotesk-Regular-BF648a656fd543a.woff') format('woff');
}


@font-face {
    font-family: 'BDO Grotesk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BDO Grotesk Regular'), url('/fonts/BDOGrotesk-VF-BF648a657078401.woff') format('woff');
}


@font-face {
    font-family: 'BDO Grotesk Light';
    font-style: normal;
    font-weight: normal;
    src: local('BDO Grotesk Light'), url('/fonts/BDOGrotesk-Light-BF648a656f91fcb.woff') format('woff');
}


@font-face {
    font-family: 'BDO Grotesk Medium';
    font-style: normal;
    font-weight: normal;
    src: local('BDO Grotesk Medium'), url('/fonts/BDOGrotesk-Medium-BF648a656fc86b8.woff') format('woff');
}


@font-face {
    font-family: 'BDO Grotesk DemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('BDO Grotesk DemiBold'), url('/fonts/BDOGrotesk-DemiBold-BF648a656f9c460.woff') format('woff');
}


@font-face {
    font-family: 'BDO Grotesk Bold';
    font-style: normal;
    font-weight: normal;
    src: local('BDO Grotesk Bold'), url('/fonts/BDOGrotesk-Bold-BF648a656f8559f.woff') format('woff');
}


@font-face {
    font-family: 'BDO Grotesk ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('BDO Grotesk ExtraBold'), url('/fonts/BDOGrotesk-ExtraBold-BF648a656f91fd9.woff') format('woff');
}


@font-face {
    font-family: 'BDO Grotesk Black';
    font-style: normal;
    font-weight: normal;
    src: local('BDO Grotesk Black'), url('/fonts/BDOGrotesk-Black-BF648a656f81fe9.woff') format('woff');
}
.scroll-down{
    position: absolute;
    bottom:0px;
    left: 50%;
    transform: translate(-50%,-0%);
}
.scroll-down p {
    font-size: 16px;
    line-height: 1;
    padding: 5px 0px;
    margin: 0px;
}
.scroll-down .arrows{
    height: 50px;
    overflow: hidden;
}
.scroll-down .arrow{
    width: 12px;
    height: 12px;
    margin:1px auto;
    border-bottom: 2px solid #2f2e2e;
    border-right: 2px solid #2f2e2e;
    transform: rotate(45deg);
}