.lets-talk h2 {
  font-size: 140px;
}
.video-container {
  margin-top: 150px !important;
  margin-bottom: 130px !important;
  /* grid-template-columns: repeat(12, 1fr); */
}

.video-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video-container ul li a {
  color: #949ea9;
  text-decoration-line: underline;
  font-size: 14px;
  line-height: 19px;
}
.video-container .video-box {
  width: 100%;
  height: 200px;
}
.video-container .video-box video {
  position: absolute;
  border-radius: 20px;
}
.video-container .video-box video:nth-child(1) {
  left: 0%;
  top: 15%;
}
.video-container .video-box video:nth-child(2) {
  left: 2%;
  top: 0%;
}
.video-container .video-box video:nth-child(3) {
  left: 6%;
  top: -10%;
}
.video-container .video-box {
  position: relative;
}
